#app
  overflow-x: hidden;

.theme-container a
  text-decoration: none;

.theme-container .header-anchor
  display: none;

.theme-container img
  width: 100%;

.theme-container .logo
  max-width: 200px;